@use '../utilities' as utilities;

.front {
  .base__hero {
    margin-bottom: 0;

    .crumbs {
      display: none;
    }
  }
 .top {
  background-image: url(../images/grasses.svg);
  background-size: 33%;
 }
  .main {
    margin: 0 !important;

    + .feature {
      margin-top: 0;
    }

    .content-top {
      display: none;
    }
  }
}
