@use '../utilities' as utilities;


.base__image-card {
    .img {
        margin-bottom: utilities.$space-md;
        position: relative;

        img {
            width: 100%;
        }
    }
}