@use '../utilities' as utilities;


.featured-links {
  margin: utilities.$space-xl 0;

  .inner {
    align-items: center;
    display: grid;
    gap: utilities.$space-xxl;
    grid: auto/1.5fr 1fr;
    padding: 0;

    @include utilities.breakpoint(sm-max) {
      grid: auto / 1fr;
      gap: utilities.$space-md;
    }
  }

  .blurb {
    p {
      font-size: utilities.$font-xs;
    }
  }

  .links {
    @include utilities.breakpoint(sm-max) {
      margin-top: utilities.$space-md;
    }

    ul {
      margin: 0;

      li {
        margin-bottom: utilities.$space-md;

        a {
          display: block;
          font-size: utilities.$font-sm;
          padding-right: 30px;
          position: relative;

          &::after {
            color: utilities.$primary-lt;
            content: "\e90a";
            font-family: icomoon;
            position: absolute;
            right: 0;
            text-decoration: none;
            top: 0;
          }

          &:hover,
          &:focus {
            color: utilities.$secondary;
            text-decoration-color: utilities.$secondary-lt;

            &::after {
              color: utilities.$secondary;
            }
          }
        }

        + li {
          border-top: 1px solid utilities.$gray-lt;
          padding-top: utilities.$space-md;

        }
      }
    }
  }
}

.section {
  &.has-bg {
    .featured-links {
      margin: 0;
    }

    &.primary {
      li {
        a {

          &:hover,
          &:focus {
            color: utilities.$secondary;
          }
        }

        + li {
          border-top: 1px solid utilities.$primary-lt;

        }
      }
    }

    &.primary-lt {
      li {
        a {

          &::after {
            color: utilities.$secondary-lt;
          }

          &:hover,
          &:focus {
            color: #000;
            text-decoration-color: utilities.$tertiary-lt;

            &::after {
              color: utilities.$tertiary-lt;
            }
          }
        }

        + li {
          border-top: 1px solid utilities.$primary;

        }
      }
    }

    &.primary-dk {
      li {
        a {

          &::after {
            color: utilities.$tertiary-lt;
          }

          &:hover,
          &:focus {
            color: utilities.$tertiary;
            text-decoration-color: utilities.$tertiary-lt;

            &::after {
              color: utilities.$tertiary;
            }
          }
        }

        + li {
          border-top: 1px solid utilities.$primary;

        }
      }
    }

    &.secondary {
      li {
        a {

          &::after {
            color: utilities.$secondary-dk;
          }

          &:hover,
          &:focus {
            color: #000;
            text-decoration-color: utilities.$secondary-dk;

            &::after {
              color: #000;
            }
          }
        }

        + li {
          border-top: 1px solid utilities.$secondary-lt;
        }
      }
    }

    &.tertiary {
      li {
        a {

          &::after {
            color: utilities.$tertiary-dk;
          }

          &:hover,
          &:focus {
            color: #000;
            text-decoration-color: utilities.$tertiary-dk;

            &::after {
              color: #000;
            }
          }
        }

        + li {
          border-top: 1px solid utilities.$tertiary-lt;
        }
      }
    }

    &.gray {
      li {
        a {

          &:hover,
          &:focus {
            color: utilities.$primary-dk;

            &::after {
              color: utilities.$primary-dk;
            }
          }
        }
      }
    }
  }
}
